<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.r7fx.vlcvideoplayer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        tools:targetApi="m">

        <activity
            android:name="com.r7fx.vlcvideoplayer.VLCVideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:exported="true"
            android:theme="@style/Theme.VLCVideoPlayerLib.FullScreen"
            android:label="@string/title" />
    </application>

</manifest>